@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url("../media/fontes/idroid.otf");
    font-weight: normal;
}

:root{
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --main_font: Arial, Verdana, Helvetica, sans-serrif;
    --highlight_font: 'Bebas Neue', cursive;
    --android-font: 'Android', cursive;
}

*{
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--color0);
    font-family: var(--main_font);
}
a.external:after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--highlight_font);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.267);
}

header > p{
    color: white;
    font-family: var(--main_font);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto auto 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.267);
}

nav{
    background-color: var(--color5);
    padding: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a{
    color: var(--color1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 500ms;
}

nav > a:hover{
    background-color: var(--color3);
    color: var(--color5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto auto 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.41);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--color5);
    font-family: var(--android-font);
    font-weight: normal;
}

main h2{
    font-family: var(--android-font);
    font-weight: normal;
    color: var(--color4);
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--color1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main strong{
    color: var(--color4);
    font-weight: bold;
    padding: 2px 0;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2px 0;
}

main a:hover{
    text-decoration: underline;
    color: var(--color4);
}

main img{
    width: 100%;
}
main img.small{
    max-width: 300px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--color5);
    margin:0 -20px 30px -20px;
    padding: 20px 20px 57.4%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.28);
}

aside h3{
    background-color: var(--color4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px  0 0;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--color5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--color1);
}